<nav class="navbar navbar-expand-lg navbar-dark" id="dark">

  <a class="navbar-brand" href="#">
    <img src="/assets/calendar.png" width="30" height="30" class="d-inline-block align-top rotate-center" alt="">
    <span class="color1">Schedule</span><span class="color2">App</span>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

  </div>
  <a [routerLink]="['/Login']" routerLinkActive="router-link-active" ><button type="button" class="btn btn-success btn-lg buttonposition headerlog">Your Schedule</button></a>
</nav>
