<div class="backGround backGround1">
<app-header></app-header>

  <div class="container">
    <div class="quote">
      <span class="quote1">All you need to do is show <br>up at the right time.</span><br><br>
      <img src="/assets/calendar.png" class="d-inline-block align-top imageposition rotate-center" alt=""><br><br>
      <span class="color1">Schedule</span><span class="color2">App</span>
      <span class="quote2"> is your online assistant,<br>working 24/7 to fill your schedule.</span>
    </div>
  </div>
  <br>
<a [routerLink]="['/AppointmentSchedule']" ><button type="button" class="btn btn-success btn-lg buttonposition bounce-top" id="first">Get Started</button></a>

</div>
